.sin-page {
  background-image: radial-gradient(
      closest-corner at 700px 400px,
      rgba(0, 0, 0, 0.5),
      rgba(8, 8, 8, 0.5)
    ),
    url("/public/assets/auth\ bg2.jpg");
  background-size: cover;
  min-height: 100vh;
  padding: 0 4rem;
  color: var(--thewhite);
  display: flex;
  flex-direction: column;
}

.navbar-1 {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0rem;
}
.navbar-1 a {
  text-decoration: none;
  color: var(--thewhite);
}
.navbar-1 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-1 li {
  list-style: none;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 8px;
  margin: 8px;
  border-radius: 0.5rem;
}

.navbar-1 a:hover {
  cursor: pointer;
  border-radius: 0.5rem;
}
.navbar-1 li:hover {
  transition: 0.3s ease-in-out;
  background-color: var(--thegrey);
}
.logo-1 {
  font-size: 3rem;
  font-weight: 800;
}
/* form-inner */
.form-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 18vh 0 20vh 0;
}
.form-group {
  padding: 0rem 2rem;
  border-radius: 2.25rem;
  background-color: rgb(255, 255, 255, 0.3);
  margin: 10px;
  display: flex;
  align-items: center;
  color: var(--thewhite);
}

#password {
  padding: 1.5rem 17rem 1.5rem 1rem;
  background-color: rgb(255, 255, 255, 0);
  font-size: 1rem;
  border-radius: 2rem;
  border: none;
  margin: 0.25rem 0.75rem;
}
#password::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--thewhite);
  opacity: 1; /* Firefox */
}
#email {
  padding: 1.5rem 17rem 1.5rem 1rem;
  background-color: rgb(255, 255, 255, 0);
  font-size: 1rem;
  border-radius: 2rem;
  border: none;
  margin: 0.25rem 0.75rem;
}
#email::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--thewhite);
  opacity: 1; /* Firefox */
}

.signinbutton {
  padding: 1.75rem 14rem;
  background-color: var(--thepop);
  font-weight: 600;
  font-size: 1rem;
  border-radius: 2rem;
  border: none;
  margin: 0.25rem 0.75rem;
}
.signinbutton:hover {
  background-color: var(--thewhite);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
